*{
    margin: 0%;
    padding: 0%;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

#main{
    width: 100%;
    height: 100%;
    background-color: rgb(10, 198, 204);
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
     width: 30%;
     height: 35%;
     border:1px solid black;
     border-radius: 10px;
     background-color: black;
}

#live{
    margin-top: 30px;
       margin-left: 95px;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: 600;
       font-size: 1.2rem;
}

#inpbox{
    margin-top: 10px;
    margin-left: 39px;
    width: 80%;
    height: 50%;
    border: 1px solid grey;
    border-radius: 8px;
}

#counts{
     margin-top: 10px;
    margin-left: 145px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}